<h2 class="welcome"><img src="img/welcome.gif" class="welcome-gif"/> to www.love-youre-stack.com</h2>

  <h1>Here what users are tweeting about your favourite tech stack LIVE!</h1>
  <p>Your tech stack:</p>
<ul>
  <li><a href="javascript:;" class="tech-stack" data-name="java">Java </a></li>
  <li><a href="javascript:;" class="tech-stack" data-name="css">CSS </a></li>
  <li><a href="javascript:;" class="tech-stack" data-name="asp">Asp.Net &lt;3</a></li>


  <li><a href="javascript:;" class="tech-stack" data-name="js">JavaScript </a></li>
</ul>


<ul id="results"></ul>




<img id="loading-gif" src="img/under-construction.gif"></img>
<div id="modal-error">
  <div class="modal-bg"></div>
  <img class="error" src="img/error.png"/>
</div>
<audio id="error-sound">
  <source src="error.wav" type="audio/x-wav">
</audio>

<audio id="beep-sound">
  <source src="beep.wav" type="audio/x-wav">
</audio>
<div class="bsod">

  <div>
    A problem has been detected and Windows has been shut down to prevent further damage
    to your computer.
  </div>
  <div>
    The problem seems to be caused by the following file: SPCMDCON.SYS
  </div>
  <div>
    WINDOWS_PARTITION_CORRUPTED
  </div>
  <div>
    If this is the first time you've seen this stop error screen,
  restart your computer. If this screen appears again, follow
  these steps:
  </div>
  <div>
    Check to make sure any new hardware or software is properly installed.
  If this is a new installation, ask your hardware or software manufacturer
  for any Windows updates you might need.
  </div>
  <div>
    If problems continue, disable or remove any newly installed hardware
  or software. Disable BIOS memory options such as caching or shadowing.
  If you need to use Safe Mode to remove or disable components, restart
  your computer, press F8 to select Advanced Startup Options, and then
  select Safe Mode.
  </div>
  <div>
    Technical information:
  </div>
  <div>
    *** STOP: 0x00000050 (0xFD3094C2,0x00000001,0xFBFE7617,0x0000 0000)
  </div>


</div>
